sitat-core-webapp/src/main/webapp/wsdl/WsOsservatorio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rete.toscana.it/rfc/sitatort/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsOsservatorio" targetNamespace="http://rete.toscana.it/rfc/sitatort/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://rete.toscana.it/rfc/sitatort/">
      <xsd:element name="getGaraXML">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="codiceCIG" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="0" name="idGara" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="cfrup" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="cfsa" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="controlliPreliminari" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getGaraXMLResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="garaXML" nillable="false" type="tns:ResponseConsultaGara"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ResponseConsultaGara">
				<xsd:sequence>
					<xsd:element name="error" nillable="true" type="xsd:string"/>
					<xsd:element name="success" type="xsd:boolean"/>
					<xsd:element name="garaXML" nillable="true" type="xsd:string"/>
				</xsd:sequence>
      </xsd:complexType>
      
      <xsd:element name="getElencoFeedback">
      	<xsd:complexType>
      		<xsd:sequence maxOccurs="1" minOccurs="1">
      			<xsd:element maxOccurs="1" minOccurs="1" name="cig" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="idgara" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="cfrup" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="cfsa" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="tipoFeedBack" type="tns:TipoFeedbackType"/>
      			<xsd:element maxOccurs="1" minOccurs="0" name="faseEsecuzione" type="tns:FaseEsecuzioneType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getElencoFeedbackResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="elencoFeedback" nillable="false" type="tns:ResponseElencoFeedback"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

      <xsd:complexType name="ResponseElencoFeedback">
				<xsd:annotation>
      		Risposta al metodo getElencoFeedback
      	</xsd:annotation>
      	<xsd:sequence>
	      	<xsd:element maxOccurs="1" minOccurs="0" name="error" nillable="true" type="xsd:string">
						<xsd:annotation>
							Messaggio di errore (se success = false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="success" nillable="false" type="xsd:boolean">
						<xsd:annotation>
							Operazione terminata con successo (true) o fallita (false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="elencoFeedback" type="tns:FeedbackType">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
      </xsd:complexType>

      <xsd:element name="getElencoSchede">
      	<xsd:complexType>
      		<xsd:sequence maxOccurs="1" minOccurs="1">
      			<xsd:element maxOccurs="1" minOccurs="1" name="cig" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="idgara" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="cfrup" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="cfsa" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getElencoSchedeResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="elencoSchede" type="tns:ResponseElencoSchedeType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

			<xsd:element name="getScheda">
      	<xsd:complexType>
      		<xsd:sequence maxOccurs="1" minOccurs="1">
      			<xsd:element maxOccurs="1" minOccurs="1" name="cig" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="idgara" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="cfrup" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="cfsa" type="xsd:string"/>
      			<xsd:element maxOccurs="1" minOccurs="1" name="faseEsecuzione" type="tns:FaseEsecuzioneType"/>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getSchedaResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="scheda" type="tns:ResponseSchedaType"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

      <xsd:simpleType name="TipoFeedbackType">
      	<xsd:annotation>
      		<xsd:documentation>Tipo di feedback</xsd:documentation>
      	</xsd:annotation>
      	<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1">
						<xsd:annotation>
							<xsd:documentation>
								OR
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="2">
						<xsd:annotation>
							<xsd:documentation>
								SIMOG
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="3">
						<xsd:annotation>
							<xsd:documentation>
								CANCELLAZIONE_SCHEDA_SIMOG
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
      </xsd:simpleType>
      
      <xsd:complexType name="FeedbackType">
      	<xsd:annotation>
      		<xsd:documentation>Feedback</xsd:documentation>
      	</xsd:annotation>
     		<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="Data" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>
								Data di produzione feedback
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
     			<xsd:element maxOccurs="1" minOccurs="1" name="Scheda" type="tns:FaseType">
						<xsd:annotation>
							<xsd:documentation>
								Scheda a cui il feedback riferisce
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="Num" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>
								Progressivo della scheda a cui il feedback riferisce
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="tns:EsitoType">
						<xsd:annotation>
							<xsd:documentation>
								Esito dell'operazione di invio della scheda
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Messaggio" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								Eventuale messaggio di errore
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
     		</xsd:sequence>
     	</xsd:complexType>
      	
      <xsd:simpleType name="EsitoType">
      	<xsd:annotation>
      		<xsd:documentation>Esito invio scheda</xsd:documentation>
      	</xsd:annotation>
      	<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1">
						<xsd:annotation>
							<xsd:documentation>
								Ricevuta
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="2">
						<xsd:annotation>
							<xsd:documentation>
								Importata
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="3">
						<xsd:annotation>
							<xsd:documentation>
								Errore
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="4">
						<xsd:annotation>
							<xsd:documentation>
								Warning
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="5">
						<xsd:annotation>
							<xsd:documentation>
								Test
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
      </xsd:simpleType>
      
      <xsd:complexType name="ResponseElencoSchedeType">
      	<xsd:annotation>
      		Risposta al metodo getElencoSchede
      	</xsd:annotation>
      	<xsd:sequence>
	      	<xsd:element maxOccurs="1" minOccurs="0" name="error" nillable="true" type="xsd:string">
						<xsd:annotation>
							Messaggio di errore (se success = false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="success" nillable="false" type="xsd:boolean">
						<xsd:annotation>
							Operazione terminata con successo (true) o fallita (false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="elencoSchede" type="tns:FaseEsecuzioneType">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="FaseEsecuzioneType">
      	<xsd:annotation>
      		<xsd:documentation>Fase esecuzione e progressivo della fase</xsd:documentation>
      	</xsd:annotation>
      	<xsd:sequence>
     			<xsd:element maxOccurs="1" minOccurs="1" name="CodiceFase" type="tns:FaseType">
     				<xsd:annotation>
     					<xsd:documentation>
     						Codice della fase
     					</xsd:documentation>
     				</xsd:annotation>
     			</xsd:element>
     			<xsd:element maxOccurs="1" minOccurs="0" name="Num">
     				<xsd:annotation>
     					<xsd:documentation>
     						Progressivo della fase
     					</xsd:documentation>
     				</xsd:annotation>
     				<xsd:simpleType>
     					<xsd:restriction base="xsd:int">
     						<xsd:minInclusive value="1"/>
     					</xsd:restriction>
     				</xsd:simpleType>
     			</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
      <xsd:simpleType name="FaseType">
				<xsd:annotation>
					<xsd:documentation>Tipo comunicazione</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1">
						<xsd:annotation>
							<xsd:documentation>
								Fase di aggiudicazione o definizione di
								procedura negoziata
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="2">
						<xsd:annotation>
							<xsd:documentation>
								Fase iniziale di esecuzione del contratto
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="3">
						<xsd:annotation>
							<xsd:documentation>
								Fase di esecuzione e avanzamento del contratto
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="4">
						<xsd:annotation>
							<xsd:documentation>
								Fase di conclusione del contratto
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="5">
						<xsd:annotation>
							<xsd:documentation>
								Fase di collaudo
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="6">
						<xsd:annotation>
							<xsd:documentation>Sospensione</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="7">
						<xsd:annotation>
							<xsd:documentation>Modifica contrattuale</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="8">
						<xsd:annotation>
							<xsd:documentation>Accordo bonario</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="9">
						<xsd:annotation>
							<xsd:documentation>Subappalto</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="10">
						<xsd:annotation>
							<xsd:documentation>Istanza di recesso</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="11">
						<xsd:annotation>
							<xsd:documentation>
								Stipula accordo quadro/convenzione
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="12">
						<xsd:annotation>
							<xsd:documentation>
								Comunicazione esito
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="13">
						<xsd:annotation>
							<xsd:documentation>
								Anagrafica semplificata e bando di gara
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="101">
						<xsd:annotation>
							<xsd:documentation>
								Elenco imprese invitate/partecipanti
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="102">
						<xsd:annotation>
							<xsd:documentation>
								Avanzamento semplificato
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="983">
						<xsd:annotation>
							<xsd:documentation>
								Gara ente nazionale o sotto i 40000 euro
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="984">
						<xsd:annotation>
							<xsd:documentation>
								Adesione ad accordo quadro/convenzione
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="985">
						<xsd:annotation>
							<xsd:documentation>
								Conclusione app. &lt;150000 euro
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="986">
						<xsd:annotation>
							<xsd:documentation>
								Inizio esecuzione app. &lt;150000 euro
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="987">
						<xsd:annotation>
							<xsd:documentation>
								Aggiudicazione app. &lt;150000 euro
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="988">
						<xsd:annotation>
							<xsd:documentation>
								Anagrafica e bando di gara
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="989">
						<xsd:annotation>
							<xsd:documentation>
								Pubblicazione avviso
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="991">
						<xsd:annotation>
							<xsd:documentation>
								Programma annuale for/ser
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="992">
						<xsd:annotation>
							<xsd:documentation>
								Programma triennale lavori
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="993">
						<xsd:annotation>
							<xsd:documentation>
								Misure aggiuntive e migliorative per la sicurezza
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="994">
						<xsd:annotation>
							<xsd:documentation>
								Segnalazione infortuni ai sensi art.23 c.1 let.c
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="995">
						<xsd:annotation>
							<xsd:documentation>
								Inadempienze disposizioni sicurezza e regolarita' del lavoro ai sensi dell'art.23 LR 38/07
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="996">
						<xsd:annotation>
							<xsd:documentation>
								Mancata aggiudicazione definitiva o pagamento a seguito verifica negativa regolarita' contributiva ed assicurativa ai sensi art.17 c. 1 e 2 LR 38/07
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="997">
						<xsd:annotation>
							<xsd:documentation>
								Esito negativo verifiche dell'idoneita' tecnico professionale ai sensi dell'art. 16 c.1 LR 38/07
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="998">
						<xsd:annotation>
							<xsd:documentation>
								Scheda cantiere
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="ResponseSchedaType">
				<xsd:annotation>
					Risposta al metodo getScheda
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="error" nillable="true" type="xsd:string">
						<xsd:annotation>
							Messaggio di errore (se success = false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="success" nillable="false" type="xsd:boolean">
						<xsd:annotation>
							Operazione terminata con successo (true) o fallita (false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="schedaXML" nillable="true" type="xsd:string">
						<xsd:annotation>
							XML della fase richiesta (se success = true)
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>      
      </xsd:complexType>
      
      <xsd:complexType name="ResponsePresaInCaricoGaraDelegata">
      	<xsd:annotation>
      		Risposta al metodo presaInCaricoGaraDelegata
      	</xsd:annotation>
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="error" nillable="true" type="xsd:string">
						<xsd:annotation>
							Messaggio eventuale errore
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="success" nillable="false" type="xsd:boolean">
						<xsd:annotation>
							Operazione terminata con successo (true) o fallita (false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="messaggio" nillable="true" type="xsd:string">
						<xsd:annotation>
							Il contenuto del messaggio restituito dal servizio
						</xsd:annotation>
					</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
			<xsd:element name="presaInCaricoGaraDelegata">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="idAvGara" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="cfRup" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="indiceColl" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="presaInCaricoGaraDelegataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="esitoPresaInCaricoGaraDelegata" nillable="false" type="tns:ResponsePresaInCaricoGaraDelegata"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLoginRPNT">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="cfRup" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLoginRPNTResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="loginRPNT" nillable="false" type="tns:ResponseLoginRPNT"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ResponseLoginRPNT">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="error" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="loginXML" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getGaraXMLRequest">
  	<wsdl:part element="tns:getGaraXML" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getGaraXMLResponse">
  	<wsdl:part element="tns:getGaraXMLResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getElencoFeedbackRequest">
  	<wsdl:part element="tns:getElencoFeedback" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getElencoFeedbackResponse">
  	<wsdl:part element="tns:getElencoFeedbackResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getElencoSchedeRequest">
  	<wsdl:part element="tns:getElencoSchede" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getElencoSchedeResponse">
  	<wsdl:part element="tns:getElencoSchedeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getSchedaRequest">
  	<wsdl:part element="tns:getScheda" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getSchedaResponse">
  	<wsdl:part element="tns:getSchedaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="presaInCaricoGaraDelegataRequest">
  	<wsdl:part element="tns:presaInCaricoGaraDelegata" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="presaInCaricoGaraDelegataResponse">
  	<wsdl:part element="tns:presaInCaricoGaraDelegataResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getLoginRPNTRequest">
  	<wsdl:part element="tns:getLoginRPNT" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getLoginRPNTResponse">
  	<wsdl:part element="tns:getLoginRPNTResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WsOsservatorio">
    <wsdl:operation name="getGaraXML">
    	<wsdl:input message="tns:getGaraXMLRequest"/>
    	<wsdl:output message="tns:getGaraXMLResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getElencoFeedback">
    	<wsdl:input message="tns:getElencoFeedbackRequest"/>
    	<wsdl:output message="tns:getElencoFeedbackResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getElencoSchede">
    	<wsdl:input message="tns:getElencoSchedeRequest"/>
    	<wsdl:output message="tns:getElencoSchedeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getScheda">
    	<wsdl:input message="tns:getSchedaRequest"/>
    	<wsdl:output message="tns:getSchedaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="presaInCaricoGaraDelegata">
    	<wsdl:input message="tns:presaInCaricoGaraDelegataRequest"/>
    	<wsdl:output message="tns:presaInCaricoGaraDelegataResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLoginRPNT">
    	<wsdl:input message="tns:getLoginRPNTRequest"/>
    	<wsdl:output message="tns:getLoginRPNTResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SitatSoapBinding" type="tns:WsOsservatorio">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="getGaraXML">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/getGaraXML"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getElencoFeedback">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/getElencoFeedback"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getElencoSchede">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/getElencoSchede"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getScheda">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/getScheda"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="presaInCaricoGaraDelegata">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/presaInCaricoGaraDelegata"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getLoginRPNT">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/getLoginRPNT"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsOsservatorio">
    <wsdl:port binding="tns:SitatSoapBinding" name="WsOsservatorio">
      <soap:address location="http://localhost:8080/OsservatorioServer/services/WsOsservatorio"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
