VigilanzaComunicazioni/sitat-webapp/sitatort-webapp/src/main/webapp/wsdl/WsOsservatorio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://rete.toscana.it/rfc/sitatort/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsOsservatorio" 
	targetNamespace="http://rete.toscana.it/rfc/sitatort/">

	<wsdl:types>

		<xsd:schema targetNamespace="http://rete.toscana.it/rfc/sitatort/">
      <xsd:element name="getGaraXML">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="codiceCIG" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="idGara" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
      			<xsd:element name="cfrup" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="cfsa" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
				<xsd:element name="controlliPreliminari" type="xsd:boolean" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getGaraXMLResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="garaXML"	type="tns:ResponseConsultaGara" nillable="false"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ResponseConsultaGara">
				<xsd:sequence>
					<xsd:element name="error" nillable="true" type="xsd:string"/>
					<xsd:element name="success" type="xsd:boolean"/>
					<xsd:element name="garaXML" nillable="true" type="xsd:string"/>
				</xsd:sequence>
      </xsd:complexType>
      
      <xsd:element name="getElencoFeedback">
      	<xsd:complexType>
      		<xsd:sequence minOccurs="1" maxOccurs="1">
      			<xsd:element name="cig" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="idgara" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="cfrup" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="cfsa" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="tipoFeedBack" type="tns:TipoFeedbackType" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="faseEsecuzione" type="tns:FaseEsecuzioneType" minOccurs="0" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getElencoFeedbackResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="elencoFeedback" type="tns:ResponseElencoFeedback" nillable="false" maxOccurs="1" minOccurs="1"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

      <xsd:complexType name="ResponseElencoFeedback" >
				<xsd:annotation>
      		Risposta al metodo getElencoFeedback
      	</xsd:annotation>
      	<xsd:sequence>
	      	<xsd:element name="error" nillable="true" type="xsd:string" maxOccurs="1" minOccurs="0">
						<xsd:annotation>
							Messaggio di errore (se success = false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="success" type="xsd:boolean" nillable="false" maxOccurs="1" minOccurs="1">
						<xsd:annotation>
							Operazione terminata con successo (true) o fallita (false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="elencoFeedback" type="tns:FeedbackType" maxOccurs="unbounded" minOccurs="0">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
      </xsd:complexType>

      <xsd:element name="getElencoSchede">
      	<xsd:complexType>
      		<xsd:sequence minOccurs="1" maxOccurs="1">
      			<xsd:element name="cig" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="idgara" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="cfrup" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="cfsa" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getElencoSchedeResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="elencoSchede" type="tns:ResponseElencoSchedeType" maxOccurs="1" minOccurs="1"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

			<xsd:element name="getScheda">
      	<xsd:complexType>
      		<xsd:sequence minOccurs="1" maxOccurs="1">
      			<xsd:element name="cig" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="idgara" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="cfrup" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="cfsa" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      			<xsd:element name="faseEsecuzione" type="tns:FaseEsecuzioneType" minOccurs="1" maxOccurs="1"></xsd:element>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getSchedaResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="scheda" type="tns:ResponseSchedaType" minOccurs="1" maxOccurs="1"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

      <xsd:simpleType name="TipoFeedbackType">
      	<xsd:annotation>
      		<xsd:documentation>Tipo di feedback</xsd:documentation>
      	</xsd:annotation>
      	<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1">
						<xsd:annotation>
							<xsd:documentation>
								OR
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="2">
						<xsd:annotation>
							<xsd:documentation>
								SIMOG
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="3">
						<xsd:annotation>
							<xsd:documentation>
								CANCELLAZIONE_SCHEDA_SIMOG
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
      </xsd:simpleType>
      
      <xsd:complexType name="FeedbackType" >
      	<xsd:annotation>
      		<xsd:documentation>Feedback</xsd:documentation>
      	</xsd:annotation>
     		<xsd:sequence>
					<xsd:element name="Data" minOccurs="1" maxOccurs="1" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>
								Data di produzione feedback
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
     			<xsd:element name="Scheda" minOccurs="1" maxOccurs="1" type="tns:FaseType">
						<xsd:annotation>
							<xsd:documentation>
								Scheda a cui il feedback riferisce
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Num" minOccurs="1" maxOccurs="1" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>
								Progressivo della scheda a cui il feedback riferisce
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Esito" minOccurs="1" maxOccurs="1" type="tns:EsitoType">
						<xsd:annotation>
							<xsd:documentation>
								Esito dell'operazione di invio della scheda
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Messaggio" minOccurs="0" maxOccurs="unbounded" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								Eventuale messaggio di errore
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
     		</xsd:sequence>
     	</xsd:complexType>
      	
      <xsd:simpleType name="EsitoType">
      	<xsd:annotation>
      		<xsd:documentation>Esito invio scheda</xsd:documentation>
      	</xsd:annotation>
      	<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1">
						<xsd:annotation>
							<xsd:documentation>
								Ricevuta
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="2">
						<xsd:annotation>
							<xsd:documentation>
								Importata
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="3">
						<xsd:annotation>
							<xsd:documentation>
								Errore
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="4">
						<xsd:annotation>
							<xsd:documentation>
								Warning
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="5">
						<xsd:annotation>
							<xsd:documentation>
								Test
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
      </xsd:simpleType>
      
      <xsd:complexType name="ResponseElencoSchedeType" >
      	<xsd:annotation>
      		Risposta al metodo getElencoSchede
      	</xsd:annotation>
      	<xsd:sequence>
	      	<xsd:element name="error" nillable="true" type="xsd:string" maxOccurs="1" minOccurs="0">
						<xsd:annotation>
							Messaggio di errore (se success = false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="success" type="xsd:boolean" nillable="false" maxOccurs="1" minOccurs="1">
						<xsd:annotation>
							Operazione terminata con successo (true) o fallita (false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="elencoSchede" type="tns:FaseEsecuzioneType" maxOccurs="unbounded" minOccurs="0">
						<xsd:annotation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="FaseEsecuzioneType">
      	<xsd:annotation>
      		<xsd:documentation>Fase esecuzione e progressivo della fase</xsd:documentation>
      	</xsd:annotation>
      	<xsd:sequence>
     			<xsd:element name="CodiceFase" minOccurs="1" maxOccurs="1" type="tns:FaseType">
     				<xsd:annotation>
     					<xsd:documentation>
     						Codice della fase
     					</xsd:documentation>
     				</xsd:annotation>
     			</xsd:element>
     			<xsd:element name="Num" minOccurs="0" maxOccurs="1">
     				<xsd:annotation>
     					<xsd:documentation>
     						Progressivo della fase
     					</xsd:documentation>
     				</xsd:annotation>
     				<xsd:simpleType>
     					<xsd:restriction base="xsd:int">
     						<xsd:minInclusive value="1"></xsd:minInclusive>
     					</xsd:restriction>
     				</xsd:simpleType>
     			</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
      <xsd:simpleType name="FaseType">
				<xsd:annotation>
					<xsd:documentation>Tipo comunicazione</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1">
						<xsd:annotation>
							<xsd:documentation>
								Fase di aggiudicazione o definizione di
								procedura negoziata
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="2">
						<xsd:annotation>
							<xsd:documentation>
								Fase iniziale di esecuzione del contratto
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="3">
						<xsd:annotation>
							<xsd:documentation>
								Fase di esecuzione e avanzamento del contratto
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="4">
						<xsd:annotation>
							<xsd:documentation>
								Fase di conclusione del contratto
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="5">
						<xsd:annotation>
							<xsd:documentation>
								Fase di collaudo
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="6">
						<xsd:annotation>
							<xsd:documentation>Sospensione</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="7">
						<xsd:annotation>
							<xsd:documentation>Variante</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="8">
						<xsd:annotation>
							<xsd:documentation>Accordo bonario</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="9">
						<xsd:annotation>
							<xsd:documentation>Subappalto</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="10">
						<xsd:annotation>
							<xsd:documentation>Istanza di recesso</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="11">
						<xsd:annotation>
							<xsd:documentation>
								Stipula accordo quadro/convenzione
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="12">
						<xsd:annotation>
							<xsd:documentation>
								Comunicazione esito
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="13">
						<xsd:annotation>
							<xsd:documentation>
								Anagrafica semplificata e bando di gara
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="101">
						<xsd:annotation>
							<xsd:documentation>
								Elenco imprese invitate/partecipanti
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="102">
						<xsd:annotation>
							<xsd:documentation>
								Avanzamento semplificato
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="983">
						<xsd:annotation>
							<xsd:documentation>
								Gara ente nazionale o sotto i 40000 euro
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="984">
						<xsd:annotation>
							<xsd:documentation>
								Adesione ad accordo quadro/convenzione
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="985">
						<xsd:annotation>
							<xsd:documentation>
								Conclusione app. &lt;150000 euro
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="986">
						<xsd:annotation>
							<xsd:documentation>
								Inizio esecuzione app. &lt;150000 euro
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="987">
						<xsd:annotation>
							<xsd:documentation>
								Aggiudicazione app. &lt;150000 euro
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="988">
						<xsd:annotation>
							<xsd:documentation>
								Anagrafica e bando di gara
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="989">
						<xsd:annotation>
							<xsd:documentation>
								Pubblicazione avviso
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="991">
						<xsd:annotation>
							<xsd:documentation>
								Programma annuale for/ser
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="992">
						<xsd:annotation>
							<xsd:documentation>
								Programma triennale lavori
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="993">
						<xsd:annotation>
							<xsd:documentation>
								Misure aggiuntive e migliorative per la sicurezza
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="994">
						<xsd:annotation>
							<xsd:documentation>
								Segnalazione infortuni ai sensi art.23 c.1 let.c
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="995">
						<xsd:annotation>
							<xsd:documentation>
								Inadempienze disposizioni sicurezza e regolarita&apos; del lavoro ai sensi dell&apos;art.23 LR 38/07
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="996">
						<xsd:annotation>
							<xsd:documentation>
								Mancata aggiudicazione definitiva o pagamento a seguito verifica negativa regolarita&apos; contributiva ed assicurativa ai sensi art.17 c. 1 e 2 LR 38/07
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="997">
						<xsd:annotation>
							<xsd:documentation>
								Esito negativo verifiche dell'idoneita&apos; tecnico professionale ai sensi dell&apos;art. 16 c.1 LR 38/07
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="998">
						<xsd:annotation>
							<xsd:documentation>
								Scheda cantiere
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="ResponseSchedaType">
				<xsd:annotation>
					Risposta al metodo getScheda
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="error" nillable="true" type="xsd:string" maxOccurs="1" minOccurs="0">
						<xsd:annotation>
							Messaggio di errore (se success = false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="success" type="xsd:boolean" nillable="false" maxOccurs="1" minOccurs="1">
						<xsd:annotation>
							Operazione terminata con successo (true) o fallita (false)
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="schedaXML" nillable="true" type="xsd:string" maxOccurs="1" minOccurs="0">
						<xsd:annotation>
							XML della fase richiesta (se success = true)
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>      
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getGaraXMLRequest">
  	<wsdl:part element="tns:getGaraXML" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getGaraXMLResponse">
  	<wsdl:part element="tns:getGaraXMLResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getElencoFeedbackRequest">
  	<wsdl:part name="parameters" element="tns:getElencoFeedback"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getElencoFeedbackResponse">
  	<wsdl:part name="parameters" element="tns:getElencoFeedbackResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getElencoSchedeRequest">
  	<wsdl:part name="parameters" element="tns:getElencoSchede"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getElencoSchedeResponse">
  	<wsdl:part name="parameters" element="tns:getElencoSchedeResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSchedaRequest">
  	<wsdl:part name="parameters" element="tns:getScheda"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSchedaResponse">
  	<wsdl:part name="parameters" element="tns:getSchedaResponse"></wsdl:part>
  </wsdl:message>
    
  <wsdl:portType name="WsOsservatorio">
    <wsdl:operation name="getGaraXML">
    	<wsdl:input message="tns:getGaraXMLRequest"/>
    	<wsdl:output message="tns:getGaraXMLResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getElencoFeedback">
    	<wsdl:input message="tns:getElencoFeedbackRequest"></wsdl:input>
    	<wsdl:output message="tns:getElencoFeedbackResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getElencoSchede">
    	<wsdl:input message="tns:getElencoSchedeRequest"></wsdl:input>
    	<wsdl:output message="tns:getElencoSchedeResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScheda">
    	<wsdl:input message="tns:getSchedaRequest"></wsdl:input>
    	<wsdl:output message="tns:getSchedaResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SitatSoapBinding" type="tns:WsOsservatorio">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="getGaraXML">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/getGaraXML" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getElencoFeedback">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/getElencoFeedback" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	  	<wsdl:operation name="getElencoSchede">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/getElencoSchede" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getScheda">
  		<soap:operation soapAction="http://rete.toscana.it/rfc/sitatort/getScheda" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsOsservatorio">
    <wsdl:port binding="tns:SitatSoapBinding" name="WsOsservatorio">
      <soap:address location="http://localhost:8080/Sitat/services/WsOsservatorio"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
